<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Fernando Cruz</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <link rel="stylesheet" th:href="@{/css/getAll.css}">
</head>

<body class="gradient-custom" th:data-success="${success}" th:data-error="${error}">

<div class="container mt-4">

        <div class="row mb-3 align-items-center">
                <div class="col-sm-8 text-center">
            <h2 class="fw-bold text-white mb-2">
                Nuevo Usuario
            </h2>
            <p class="text-white-50 mb-0">
                Registra un nuevo usuario en el sistema
            </p>
        </div>

        <div class="col-sm-4 text-center">
            <a class="btn btn-success" th:href="@{/Usuario/form}">Agregar</a>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover align-middle text-center">
            <thead class="table-dark">
                <tr>
                    <th>Acciones</th>
                    <th>Datos Personales</th>
                    <th>Foto de Perfil</th>
                    <th>Contacto</th>
                    <th>Direcciones</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr th:each="usuario : ${usuarios}">

                    <td>
                        <button class="btn btn-warning"
                                data-bs-toggle="modal"
                                data-bs-target="#modalEditar"

                                th:data-id="${usuario.idUsuario}"
                                th:data-username="${usuario.userName}"
                                th:data-nombre="${usuario.nombre}"
                                th:data-appaterno="${usuario.apellidoPaterno}"
                                th:data-apmaterno="${usuario.apellidosMaterno}"
                                th:data-email="${usuario.email}"
                                th:data-celular="${usuario.celular}"
                                th:data-telefono="${usuario.telefono}"
                                th:data-idrol="${usuario.rol.idRol}"
                                th:data-fechanacimiento="${#dates.format(usuario.fechaNacimiento, 'yyyy-MM-dd')}"
                                th:data-password="${usuario.password}"
                                th:data-sexo="${usuario.sexo}"
                                th:data-curp="${usuario.CURP}"


                                onclick="cargarUsuario(this)">
                                <i class="bi bi-pencil-square"></i>
                        </button>

                        <button class="btn btn-danger btn-sm">
                            <i class="bi bi-trash"></i>
                        </button>
                        
                    </td>

                    <td class="text-start">
                        <strong th:text="|${usuario.nombre} ${usuario.apellidoPaterno} ${usuario.apellidosMaterno}|"></strong><br>
                        <span>📅Fec. Nacimiento: <span th:text="${#dates.format(usuario.fechaNacimiento, 'dd/MM/yyyy')}"></span></span><br>
                        <span>👥Sexo: <span th:text="${usuario.sexo}"></span></span><br>
                        <span>💳CURP: <span th:text="${usuario.CURP}"></span></span><br>
                        <span th:if="${usuario.Rol != null and usuario.Rol.NombreRol != null and !#strings.isEmpty(usuario.Rol.NombreRol)}">Role: <span th:text="${usuario.Rol.NombreRol}"></span></span>
                    </td>

                    <td class="text-start">
                        <div class="position-relative d-inline-block overflow-hidden rounded-circle"
                            style="width:150px; height:150px;">

                            <img id="previewFoto"
                                th:if="*{usuario.foto != null}"
                                th:src="*{usuario.foto}"
                                class="w-100 h-100"
                                style="object-fit:cover;">

                            <div id="iconoDefault"
                                th:if="*{usuario.foto == null}"
                                class="d-flex align-items-center justify-content-center w-100 h-100"
                                style="background-color:#f8f9fa;">
                                <i class="bi bi-person-bounding-box" style="font-size:80px; color:#6c757d;"></i>
                            </div>

                        </div>
                        <div class="mt-6 text-end">
                                <a class="btn btn-success btn-sm me-1">
                                    <i class="bi bi-camera"></i>
                                </a>
                            </div>
                    </td>

                    <td class="text-start">
                        <span>📞Tel: <span th:text="${usuario.telefono}"></span></span><br>
                        <span>📱Cel: <span th:text="${usuario.celular}"></span></span><br>
                        <span>📩Email: <span th:text="${usuario.email}"></span></span><br>
                        <span>👤Username: <span th:text="${usuario.userName}"></span></span><br>
                    </td>

                    <td class="text-start">
                        <div th:if="${#lists.isEmpty(usuario.direccion)}" class="text-muted">
                            Sin direcciones registradas
                        </div>

                        <div th:each="direccion : ${usuario.direccion}" 
                            class="card mb-2 shadow-sm border-0">

                            <div class="card-body p-2 small">

                                <strong th:text="${direccion.calle}"></strong><br>

                                <span>
                                    No. Ext: <span th:text="${direccion.numeroExterior}"></span>,
                                    No. Int: <span th:text="${direccion.numeroIInteriori}"></span>
                                </span>
                                <br>

                                <span>
                                    <span th:text="${direccion.colonia.nombre}"></span>,
                                    CP: <span th:text="${direccion.colonia.codigoPostal}"></span>
                                </span>
                                <br>

                                <span>
                                    <span th:text="${direccion.colonia.municipio.nombre}"></span>,
                                    <span th:text="${direccion.colonia.municipio.estado.nombre}"></span>,
                                    <span th:text="${direccion.colonia.municipio.estado.pais.nombre}"></span>
                                </span>

                                <div class="mt-2 text-end">

                                  <button type="button"
                                          class="btn btn-warning btn-sm btnEditarDireccion"
                                          data-bs-toggle="modal" 
                                          data-bs-target="#modalEditarDireccion"
                                          th:data-id="${direccion.IdDireccion}"
                                          th:data-idusuario="${usuario.idUsuario}"
                                          th:data-calle="${direccion.calle}"
                                          th:data-noext="${direccion.numeroExterior}"
                                          th:data-noint="${direccion.numeroIInteriori}"
                                          th:data-cp="${direccion.Colonia.codigoPostal}"
                                          th:data-idpais="${direccion.colonia.municipio.estado.pais.idPais}"
                                          th:data-idestado="${direccion.colonia.municipio.estado.IdEstado}"
                                          th:data-idmunicipio="${direccion.colonia.municipio.IdMunicipio}"
                                          th:data-idcolonia="${direccion.colonia.IdColonia}"
                                          >
                                      <i class="bi bi-pencil-square"></i>
                                  </button>

                                  <button class="btn btn-danger btn-sm">
                                      <i class="bi bi-trash"></i>
                                  </button>


                                </div>

                            </div>
                        </div>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>

</div>



<div class="modal fade" id="modalEditar" tabindex="-1" data-sexo="" data-idrol="">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <form th:action="@{/Usuario/update}" method="post">

        <div class="modal-header bg-warning">
          <h5 class="modal-title">Editar Usuario</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <div class="modal-body">

          <input type="hidden" id="idUsuario" name="idUsuario">
          <input type="hidden" id="fechaNacimiento" name="fechaNacimiento">
          <input type="hidden" id="password" name="password">


          <div class="row">
            <div class="col-md-6">
              <label>Username</label>
              <input type="text" class="form-control" id="userName" name="userName">
            </div>

            <div class="col-md-6">
              <label>Nombre</label>
              <input type="text" class="form-control" id="nombre" name="nombre">
            </div>

            <div class="col-md-6">
              <label>Apellido Paterno</label>
              <input type="text" class="form-control" id="apellidoPaterno" name="apellidoPaterno">
            </div>

            <div class="col-md-6">
              <label>Apellido Materno</label>
              <input type="text" class="form-control" id="apellidoMaterno" name="apellidosMaterno">
            </div>

            <div class="col-md-6">
              <label>Email</label>
              <input type="email" class="form-control" id="email" name="email">
            </div>

            <div class="col-md-6">
              <label>Teléfono</label>
              <input type="text" class="form-control" id="telefono" name="telefono">
            </div>

            <div class="col-md-6">
            <label>CURP</label>
            <input type="text" class="form-control" id="CURP" name="CURP">
            </div>


            <div class="col-md-6">
              <label>Celular</label>
              <input type="text" class="form-control" id="celular" name="celular">
            </div>

            <div class="col-md-6">
              <label class="fw-bold">Rol</label>
              <select class="form-control" id="rol" name="rol.idRol">
                  <option value="">-- Seleccione un rol --</option>

                  <option th:each="rol : ${roles}"
                          th:value="${rol.IdRol}"
                          th:text="${rol.NombreRol}">
                  </option>
              </select>
          </div>



            <div class="col-md-6">
            <label class="fw-bold">Sexo</label>

            <div class="d-flex gap-4 mt-2">
                <div class="form-check">
                    <input class="form-check-input border border-dark" type="radio" name="sexo" id="sexoM" value="M">
                    <label class="form-check-label" for="sexoM">
                        Masculino
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input border border-dark" type="radio" name="sexo" id="sexoF" value="F">
                    <label class="form-check-label" for="sexoF">
                        Femenino
                    </label>
                </div>
            </div>
        </div>



          </div>

        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-success">Guardar cambios</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        </div>

      </form>

    </div>
  </div>
</div>



<div class="modal fade" id="modalEditarDireccion" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <form th:action="@{/Usuario/GuardarDireccion}" method="post">
        
        <input type="hidden" name="idUsuario" id="direccionIdUsuario">
        <input type="hidden" name="idDireccion" id="direccionId">

        <div class="modal-header bg-warning">
          <h5 class="modal-title">Editar Dirección</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <div class="modal-body">
          <div class="row g-3">

            <div class="col-md-6">
              <label class="form-label">Calle</label>
              <input type="text" class="form-control" name="calle" id="direccionCalle">
            </div>

            <div class="col-md-3">
              <label class="form-label">No. Exterior</label>
              <input type="text" class="form-control" name="numeroExterior" id="direccionNoExt">
            </div>

            <div class="col-md-3">
              <label class="form-label">No. Interior</label>
              <input type="text" class="form-control" name="numeroIInteriori" id="direccionNoInt">
            </div>

            <div class="col-md-4">
                <label class="form-label fw-bold">País</label>
                <select class="form-select" name="idPais" id="direccionPais">
                    <option value="">-- Seleccione --</option>
                    <option th:each="p : ${paises}" th:value="${p.idPais}" th:text="${p.nombre}"></option>
                </select>
            </div>

            <div class="col-md-4">
                <label class="form-label fw-bold">Estado</label>
                <select class="form-select" id="direccionEstado">
                    <option value="">-- Seleccione --</option>
                </select>
            </div>

            <div class="col-md-4">
                <label class="form-label fw-bold">Municipio</label>
                <select class="form-select" id="direccionMunicipio">
                    <option value="">-- Seleccione --</option>
                </select>
            </div>

            <div class="col-md-8">
                <label class="form-label fw-bold">Colonia</label>
                <select class="form-select" name="colonia.idColonia" id="direccionColonia">
                    <option value="">-- Seleccione --</option>
                </select>
            </div>

            <div class="col-md-4">
                <label class="form-label fw-bold">C.P.</label>
                <input type="text" class="form-control bg-light" name="codigoPostal" id="direccionCP" readonly>
            </div>

          </div>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Guardar Cambios</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        </div>

      </form>
    </div>
  </div>
</div>

<script th:src="@{/js/Modal.js}"></script>
<script th:src="@{/js/Alert.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>